body{
margin:0;
}
.headsel{
background-color:lightgreen;
height:100px;
}
.lfsel{
background-color:yellow;
height:400px;
float:left;
width:200px;
}
.rgsel{
background-color:silver;
height:400px;
}
.ftsel{
background-color:black;
height:100px;
color:white;
}